{% load staticfiles %}
<html>

<head>
    {% block title %}
        <title>Main Page</title>
    {%  endblock %}

    <link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet" media="screen" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" media="screen" />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen" />

    {% block css %}
	{% endblock %}

    <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/jquery.tablesorter.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/sorttable.js' %}"></script>

    {% block js %}
    {% endblock %}

</head>

<body>
    <div class="container">
        <form method="POST">{% csrf_token %}
            <input type="date" name="date" required>
            <input type="text" placeholder="home" name="home" id="tags" value="{{ clubs.0.shortName }}" required>
            <input type="number" placeholder="homegoals" name="homegoals" min="0" required>
            <input type="number" placeholder="awaygoals" name="awaygoals" min="0" required>
            <input type="text" placeholder="away" name="away" id="tags" value="{{ clubs.1.shortName }}" required>
            {% block league %}
            {% endblock %}
            <button type="submit">Add match</button>
        </form>

        <div class="col-md-6 col-md-offset-3 column">
            {% block table %}
            <table id="myTable" class="tablesorter">
                <caption><b>{{ resultTables.0.nameLeague }}</b></caption>
                <thead>
                    <tr>
                        <th class="teamsName"><abbr title="Team name">Name</abbr></th>
                        <th class="teamsResult"><abbr title="Played">P</abbr></th>
                        <th class="teamsResult"><abbr title="Won">W</abbr></th>
                        <th class="teamsResult"><abbr title="Drawn">D</abbr></th>
                        <th class="teamsResult"><abbr title="Lost">L</abbr></th>
                        <th class="teamsResult"><abbr title="Goals">G</abbr></th>
                        <th class="teamsResult"><abbr title="Goal difference">GD</abbr></th>
                        <th class="teamsResult"><abbr title="Points">Pts</abbr></th>
                    </tr>
                </thead>
                <tbody>
                    {% for table in resultTables %}
                        {% block tbody %}
                        <tr>
                            <td class="teamsName">
                                <img src="{{ table.name.image }}" class="teamIMGtable">
                                <a href="/team/{{ table.name }}">{{ table.name }}</a>
                            </td>
                            <td class="teamsResult">{{ table.played }}</td>
                            <td class="teamsResult">{{ table.won }}</td>
                            <td class="teamsResult">{{ table.drawn }}</td>
                            <td class="teamsResult">{{ table.lost }}</td>
                            <td class="teamsResult">{{ table.forgoals }} - {{ table.against }}</td>
                            <td class="teamsResult">{{ table.goalDifferrence }}</td>
                            <td class="teamsResult">{{ table.points }}</td>
                        </tr>
                        {% endblock %}
                    {% endfor %}
                </tbody>
            </table>
            {% endblock %}
        </div> <!-- col-md-6 col-md-offset-3 column -->

        {% block content %}
        {% endblock %}
    </div> <!-- container -->
</body>
</html>